
<!DOCTYPE html>


<!DOCTYPE html>
@*<script type="text/javascript">
        config.extraAllowedContent = 'style dt script';
        $(function () {
            config.extraAllowedContent = 'style dt script';
            CKEDITOR.replace('Content', { height: 500 });
            CKEDITOR.replace('Content', { allowedContent: true });
            CKEDITOR.config.allowedContent = true;
            CKEDITOR.replace('Content', {
                allowedContent: true
            });
        });
        CKEDITOR.replace('Content', {
            allowedContent: true
        })
    </script>*@
<html>
<head>
    <meta property="og:image" content="https://steans.depaul.edu/Images/carnegie.png" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/website")
    @Styles.Render("~/bundles/website")
    @Scripts.Render("~/bundles/headerfooter")
    @RenderSection("Head", required: false)




</head>
<body>
    @Html.Partial("Header")

    @RenderBody()
    @Html.Partial("Footer")








</body>

@* The script below is for the sinle page Menu veiw such as Faculty/Home *@
@Html.Partial("_PartialJumpMenu")
</html>


@*The old CSS*@
@*<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/bundles/mobileCss")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("Head", required: false)
        <script src="~/Scripts/jquery-1.8.3.min.js"></script>
        <script>
            $(document).on("mobileinit", function () {
                $.mobile.ajaxEnabled = false;
            });
        </script>
        @Scripts.Render("~/bundles/jquerymobile")
    </head>
<body>
    <div data-role="page" data-theme="b">
        <div data-role="header">
            @if (IsSectionDefined("Top"))
            {
                @RenderSection("Top")
            }
            else
            {
                <h1>@ViewBag.Title</h1>
                if (Request.IsAuthenticated)
                 {
@Html.ActionLink("Logout", "Index", "Logout", null, new { data_icon = "arrow-l", data_rel = "back" })
                <span style="float:right" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-left ui-btn-up-a">@User.Identity.Name</span>

                 }
                else
                {
                     @Html.ActionLink("Log in", "Index", "Login", routeValues: null, htmlAttributes: new {data_icon = "gear"})
                 }
            }
        </div>
        <div data-role="content">
            @if (Request.IsAuthenticated)
            {
                <p>
                    Logged in as <strong>@User.Identity.Name</strong>.
                </p>
            }
            @RenderBody()
        </div>
    </div>

</body>
</html>*@
