@using ICStars2_0.Model
@using ICStars2_0.Model.Enum
@using ICStars2_0.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login --Steans Center";
}
@section Head
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/bundles/jqueryuicss")
@Styles.Render("~/bundles/Site")
    <script type="text/javascript">
        var _top = window.top;
        while (_top.top && _top.top != _top) {
            _top = _top.top;
        }
        if (_top != window) {
            _top.location = window.location;
        }
        $(function () {
            $("#tabs").tabs({
                event: "mouseover"
            });
            var currentTagIndex = '@Request.QueryString["ti"]' * 1;
            $("#tabs").tabs("select", currentTagIndex);
        });
        function onBegin(id) {
            $("#" + id).html("<img src=\"/Images/ajax-loader_bar.gif\"/> Loading...");
        }
        function redirect(data, id) {
            if (data.url) {
                window.location.href = data.url;
            } else {
                $("#" + id).html(data);
            }
        }
    </script>
    <style type="text/css">
        /* CSS Document */
        th {
            background-image: url(/SHTracker/images/barbg3.jpg);
            height: 28px;
            text-align: left;
        }
        td {
            line-height: 25px;
            padding-right: 10px;
            font-weight: bold;
            font-size: 14px;
        }
        .global {
            margin: 0 auto;
            clear: both;
        }
        .logo {
            border-bottom: 2px solid #006AAD;
            margin-left: 200px;
            margin-right: 200px;
            margin-top: 30px;
        }
        .kuang {
            margin-top: 20px;
            background-color: #f4f4f4;
            width: 490px;
            height: auto;
            border: 1px solid #006AAD;
            padding: 5px;
        }

        .regist {
            height: 25px;
            width: 490px;
            background-color: #006AAD;
        }
        .button {
            vertical-align: middle;
            margin-right: 10px;
            margin-bottom: 0px;
            margin-left: 5px;
            cursor: pointer;
        }
        .white {
            color: #FFF;
            font-size: 14px;
            font-family: Arial;
            margin-left: 10px;
        }
        .red{ color: red;font-weight: bold;}
        td {
            vertical-align: top;
        }
        div#tabs ul li a{ font-weight: bold;font-size: 13px;}
        select#Terms{ width: 100px;font-size: 12px;font-family: Arial;font-weight: normal;}
    </style>
}
    <div class="global" align="center">
        <div class="kuang" align="left">
            <div class="regist" align="left">
                <span class="white">Please Login</span>
            </div>
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">Steans Center</a></li>
                    <li><a href="#tabs-2">SHTracker</a></li>
                    <li><a href="#tabs-3">Student</a></li>
                    <li><a href="#tabs-4">CSS Student</a></li>
                </ul>
                <div id="tabs-1">
                    @Html.Partial("LoginSteansCenter")
                </div>
                <div id="tabs-2">
                    @Html.Partial("LoginSHTracker")
                </div>
                <div id="tabs-3">
                    @Html.Partial("LoginStudent")
                </div>
                <div id="tabs-4">
                    @Html.Partial("LoginCSSStudent")
                </div>
            </div>
            
        </div>
    </div>
    <div style="height:auto;text-align:center;width:100%;font-family:Arial">
        For accessing <b>Steans Center Forms</b>, please choose the "<b>Steans Center</b>" tab.<br/>
        For accessing <b>SHTracker System</b>, please choose the "<b>SHTracker</b>" tab.<br/>
        For accessing <b>Hours Reporting System as a student</b>, please choose the "<b>Student</b>" tab.
    </div>
    
