@model ICStars2_0.Model.Category

@{
    ViewBag.Title = "Create Category";
    Layout = "~/Areas/SHTracker/Views/Shared/_Layout.cshtml";
}
@section Head
{
    @Styles.Render("~/bundles/Site")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
}
<h2>Create Category</h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Category</legend>
        @if (Model != null && Model.ID > 0)
        {
                @Html.HiddenFor(m => m.ID)
        }
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ParentID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ParentID)
            @Html.ValidationMessageFor(model => model.ParentID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
