@model IEnumerable<ICStars2_0.Model.ImageGallery>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
<p>
    <a class="imageGallery btn btn-primary" data-fancybox-type="iframe"
       href="@Url.Action("UploadImage", "MvpGallery")">Upload New Image</a>
</p>
</p>
<table style="border:2px solid">
    <tr style="border:2px solid">
        <th >
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td style="border:1px black solid">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td style="border:1px black solid">
            @Html.DisplayFor(modelItem => item.Caption)
        </td>
        <td style="border:1px black solid">
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
