@model ICStars2_0.Model.MVPSite

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/SHTracker/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<fieldset>
    <legend>MVPSite</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.SiteName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SiteName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.SiteBrief)
    </div>
    <div class="display-field">
        @Html.Raw(Model.SiteBrief)
    </div>


    <div class="display-label">
        @Html.DisplayNameFor(model => model.ProjectStarts)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProjectStarts)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Coordinator)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Coordinator)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.SiteLocation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SiteLocation)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Author)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SiteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

