@using ICStars2_0.Model
@model IEnumerable<ICStars2_0.Model.son_cboprogram>

@{
    ViewBag.Title = "Report";
    Layout = "~/Areas/SHTracker/Views/Shared/_Layout.cshtml";
}
@section Head{
    @Scripts.Render("~/bundles/jquery")
<script src="~/SHTracker/Scripts/UrlHelper.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var section = UrlHelper.Current.getUrlParameter("section");
            if ( section!= "") {
                $("#selectSection").val(section);
            }
            $("#selectSection").change(function () {
                var url = UrlHelper.Current.setUrlParameter("section", $(this).val());
                window.location = url;
            });
        });
    </script>
}
<h2>Report</h2>
<h2>
    Class Section:<select id="selectSection">
                      <option value="All" selected="selected">All</option>
                      <option value="101">101</option>
                      <option value="102">102</option>
                  </select>
</h2>

@foreach (var name in Model.Select(m => m.CBOName).Distinct().OrderBy(s => s))
{
    <h2>@name</h2>
    foreach (var item in Model.Where(m => m.CBOName.Equals(name)).OrderBy(m=>m.ProgramName))
    {
        <div>
            <b>@item.ProgramName</b> (@item.Location)
            <table>
                <tr>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Match</th>
                </tr>
                @foreach (son_student stu in ((IEnumerable<son_student>)ViewBag.Students).Where(s=>(s.CPID1==item.CPID && s.Placement1) || (s.CPID2==item.CPID && s.Placement2) || (s.CPID3==item.CPID && s.Placement3)))
                {
                    <tr>
                        <td>@stu.StudentID</td>
                        <td>@stu.Name</td>
                        <td>Student Choice</td>
                    </tr>
                }
                @foreach (son_student stu in ((IEnumerable<son_student>)ViewBag.Students).Where(s => ((IEnumerable<son_cbochoice>)ViewBag.CBO2Student).Any(c=>c.StudentID==s.StudentID && c.CPID==item.CPID && c.IsASL==false)))
                {
                    <tr>
                        <td>@stu.StudentID</td>
                        <td>@stu.Name</td>
                        <td>CBO Choice</td>
                    </tr>
                }
                @foreach (son_student stu in ((IEnumerable<son_student>)ViewBag.Students).Where(s => ((IEnumerable<son_cbochoice>)ViewBag.CBO2Student).Any(c=>c.StudentID==s.StudentID && c.CPID==item.CPID && c.IsASL)))
                {
                    <tr>
                        <td>@stu.StudentID</td>
                        <td>@stu.Name</td>
                        <td>ASL Choice</td>
                    </tr>
                }
            </table>
        </div>
    }
}

